{% extends 'base.html' %}

{% block content %}
<div class="container p-5">
  <h1 class="display text-center">New Posts</h1>
  <hr class="mx-auto">
  {% for post in posts %}
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">
    <img src="{{ post.post_image.url }}" width="200" alt="">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ post.post_title }}</h5>
    <p class="card-text">{{ post.post_content }}</p>
  </div>
</div>
  {% endfor %}

</div>


{% endblock  %}