@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5 {
  
    font-family: 'Playfair Display', serif;
}

.navbar-brand {
    color: dodgerblue !important;
    font-weight: 900;
    transform: rotate(180deg);
}

.jumbotron img {

    width: 400px !important;
}
.jumbotron hr {
    opacity: 0.4;
}

.jumbotron a.btn{ 
    background: dodgerblue !important;
    border: dodgerblue !important;
}

.form {
    margin-top: 5rem !important;

}

.user-post {
    padding: 1rem;
    border-radius: 0.2rem;
}

.user-post:hover {
    color: #fff;
    background-color: #aaa !important;
    cursor: pointer;
    
}



.static-post {
    padding: 1rem;
    border-radius: 0.2rem;
}

.static-post:hover {
    color: #fff;
    background-color: #aaa !important;
    cursor: pointer;
    
}

@media only screen and (max-width: 600px) {
    .jumbotron img {
        margin-top: 2.5rem !important;
        width: 200px !important;
    }   
}

@media only screen and (min-width: 1100px) {
    .jumbotron img {
        margin-top: 2.5rem !important;
        width: 300px !important;
    }   
}