@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');



* {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {

    font-family: 'Playfair Display', serif;
}

.navbar-brand {
    color: dodgerblue !important;
    font-weight: 900;
    transform: rotate(180deg);
}

.jumbotron {
    background-color: #343a40!important;
}





}

.jumbotron img {

    width: 400px !important;
}

.jumbotron hr {
    opacity: 0.4;
}

.jumbotron a.btn {
    background: dodgerblue !important;
    border: dodgerblue !important;
}

.form {
    margin-top: 2.5rem !important;

}

form .lead {
   color: dodgerblue !important;
   font-weight: 900 !important;
}

.user-post {
    padding: 1rem;
    border-radius: 0.2rem;
    width: 100%;
}

.user-post a {
    text-decoration: none;
    color: inherit;
}

/* 
.user-post img {
    max-width: 200px;
    max-height: 240px;
} */
.user-post p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-post:hover {
    color: #fff;
    background-color: #aaa !important;
    cursor: pointer;

}



.static-post .row {
    padding: 1rem;
    border-radius: 0.2rem;
}

.static-post p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.static-post a {
    color: #000 !important;
    text-decoration: none;
}

.static-post .row:hover {
    color: #fff;
    background-color: #aaa !important;
    cursor: pointer;

}

.post-view {
    margin-top: 3.5rem !important;
}



.content {
    position: relative;
    margin-bottom: 30rem;
}

.content.margin-off {
    
    margin-bottom: 0rem !important;
}

.modal-dialog {
    max-width: 70rem !important;
}


.shape {
    float: left;
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    shape-margin: 20px;
    position: relative;
    z-index: 1;
}

.about {
    margin-top: 10rem !important;
    margin-bottom: 20rem !important;
    height: 100%;
}



footer .bg-dark {
    padding: 4rem;
    color: #fff;
}

@media only screen and (max-width: 600px) {


    .jumbotron img {
        margin-top: 2.5rem !important;
        width: 200px !important;
    }

    .post-view {
        margin-top: 15rem !important;
        margin-bottom: 5rem !important;
    }

    img {
        width: 200px !important;
    }

    .my-nav {
        line-height: 0.9;
        margin-top: 2rem !important;
    }

    .about {
        margin-top: 15rem !important;
    }

    .special-2 {
        width: 100% !important;
    }
}



@media (min-width: 768px) {
    .about {
        margin-top: 20rem !important;
        margin-bottom: 20rem !important;
    }
 
 
    .post-view {
        margin-bottom: 10rem !important;
    }


   .post-view img {
        max-width: 330px !important;
        max-height: 460px !important;
    }
    #id_post_title {
        width: 100% !important;
    }

    #id_post_content {
        width: 100% !important;
    }
}




@media (min-width: 992px) {
    .about {
        margin-top: 30rem !important;
        margin-bottom: 30rem !important;
    }
    

    



   .post-view img {
        max-width: 330px !important;
        max-height: 460px !important;
    }
    .post-view .special-1 {
        max-width: 50% !important;
        max-height: 50% !important;
    }

    .post-view .special-2 {
        max-width: 100% !important;
        max-height: 100% !important;
    }



    #id_post_content {
        width: 100% !important;
    }
}



@media only screen and (min-width: 1100px) {
    .jumbotron img {

        width: 100px !important;
    }

    .post-view img {

        max-width: 330px;
        max-height: 460px;

    }
    .about {
        margin-top: 15rem !important;
        margin-bottom: 15rem !important;
    }
}


@media only screen and (min-width: 1400px) {
    .jumbotron img {

        width: 300px !important;
    }

    .about {
        margin-top: 15rem !important;
        margin-bottom: 15rem !important;
    }
}