@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: 'Playfair Display', serif;
}

.jumbotron img {
    margin-top: -10rem !important;
}


@media only screen and (max-width: 600px) {
    .jumbotron img {
        margin-top: 0rem !important;
    }   
}