{% extends 'base.html' %}

{% block content %}

<div class="form text-center container p-5">
        <h3 class="h1 text-primary">Create A New Post here:</h3>
            <hr class="w-50 mx-auto">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for fields in form %}
            <p class="lead">{{ fields.label }}:</p>
            <p class="rounded">{{ fields }}</p>
        
        {% endfor %}
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
    </form>
</div>

{% endblock  %}